@use '../components/mixin.scss' as *;

.collections{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .card-1, .card-2, .card-3, .card-4{
        display: flex;
        justify-content: space-between;
        .pictrues{
            p{
                align-items: center;
                font-size: 20px;
                cursor: pointer;
                color: #323232;
                i{
                    font-size: 20px;
                    cursor: pointer;
                    color: #323232;
                }
            }
            img{
                cursor: pointer;
            }
        }
        ul{
            list-style: none;
            margin-top: 10px;
            li{
                margin: 5px;
                cursor: pointer;
                color: #323232;
            }
        }
    }
}
@media screen and (max-width: 429px) {
    .collections{
        display: block;
        .text{
            display: block;
        }
        .card-1, .card-2, .card-3, .card-4{
            margin-top: 20px;
        }
    }
}