@use '../components/mixin.scss' as *;
.five-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
.block{
    .card-1 {
    @include cards-5;
  &::before {
    @include five-cards-before;
    background-image: url('../assets/img/airpodsMax1.webp');
  }
  &::after {
    @include five-cards-after;
    background-image: url('../assets/img/airpodsMax2.webp');
  }

  &:hover {
    @include five-cards-hover;
  }
}
.text{
    padding: 0 10px;
    @include class;
}
}

.card-2{
 
 @include cards-5;
   &::before {
    @include five-cards-before;
    background-image: url('../assets/img/appleMouse1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/appleMouse2.webp');
  }

  &:hover {
    @include five-cards-hover;
  }
}
.card-3{
 
 @include cards-5;
 &::before {
    @include five-cards-before;
    background-image: url('../assets/img/imac2_1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/imac2_2.webp');
  }

  &:hover {
    @include five-cards-hover;
  }
}
.card-4{
 
 @include cards-5;
  &::before {
    @include five-cards-before;
    background-image: url('../assets/img/ipadPro1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/ipadPro2.webp');
  }

  &:hover {
    @include five-cards-hover;
  }
}
.card-5{
 
 @include cards-5;
   &::before {
    @include five-cards-before;
    background-image: url('../assets/img/iphone1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/iphone2.webp');
  }

  &:hover {
    @include five-cards-hover;
  }
}
}
@media screen and (max-width: 429px) {
    .five-cards{
        display: block;
        .block{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .card-1, .card-2, .card-3, .card-4, .card-5{
                width: 50%;
            }
            .text{
                display: block;
                width: 50%;
            }
        }
    }
}