@use '../components/mixin.scss' as *;

.hard{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .box{
        width: 250px;
        height: auto;
        padding: 10px;
        border-radius: 15px;
        transition: 0.3s;
        border: 1px solid #fff;
        &:hover{
            border: 1px solid #bdbdbd
        }
    .card-1{
        @include cards-05;
    &::before {
    @include five-cards-before;
    background-image: url('../assets/img/airpods1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/airpods2.webp');
    }

  &:hover {
    @include five-cards-hover;
  }
    }
    .text{
       @include text;
    }
    .card-2{
        @include cards-05;
    &::before {
    @include five-cards-before;
    background-image: url('../assets/img/appleWatch1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/appleblach.webp');
    }
    &:hover {
      @include five-cards-hover;
    }
    }
    
    .text{
        @include five-cards-hover;
    }
    .card-3{
        @include cards-05;
    &::before {
    @include five-cards-before;
    background-image: url('../assets/img/asusRog1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/asusRog2.webp');
    }
    &:hover {
      @include five-cards-hover;
    }
    }
    .text{
        @include five-cards-hover;
    }
    .card-4{
        @include cards-05;
    &::before {
    @include five-cards-before;
    background-image: url('../assets/img/ps5Controller1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/ps5Controller2.webp');
    }
    &:hover {
      @include five-cards-hover;
    }
    }
    .text{
        @include five-cards-hover;
    }
    .card-5{
        @include cards-05;
    &::before {
    @include five-cards-before;
    background-image: url('../assets/img/sonyAlpha7_1.webp');
}
    &::after {
    @include five-cards-after;
    background-image: url('../assets/img/sonyAlpha7_2.webp');
    }
    &:hover {
      @include five-cards-hover;
    }
    }
    .text{
       @include five-cards-hover;
    }
    }
}
@media screen and (max-width: 429px) {
  .hard {
    display: block;
    .box {
      width: auto;
      display: flex;
      justify-content: space-between;
      .card-1, .card-2, .card-3, .card-4, .card-5 {
        width: 218px;
      }
      .text {
        width: 218px;
        display: block;
      }
    }
  }
}
