.first-div{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .text{
        padding: 0px 20px;
        background-color: #f7f5f5;
        border-radius: 20px;
        box-shadow: 12px 12px 8px 0px rgba(34, 60, 80, 0.2);
        ul{
            list-style: none;
            li{
                display: flex;
                gap: 1rem;
                font-size: 15px;
                margin-top: 20px;
                border-bottom: 1px solid #bababa;
                padding-bottom: 10px;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.02);
                }
            }
        }
    }
    .svipper{
    swiper-container {
      width: 920px;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
    }
    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
    }
}
@media (max-width: 429px) {
    .text{
        display: none;
    }
    .svipper{
    swiper-container {
    width: 410px !important;
    height: 300px !important;
    }
    }
}
@media (max-width: 391x) {
    .text{
        display: none;
    }
    .svipper{
    swiper-container {
    width: 390px !important;
    height: 300px !important;
    }
    }
}