.navbar{
    img{
        cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .nav-input{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 5px 0 10px;
        border: 1px solid #6A7282;
        width: 700px;
        height: 40px;
        border-radius: 7px;
        cursor: pointer;
        i{
            color: #4f5052;
            font-size: 20px;
        }
        input{
            width: 650px;
            height: 35px;
            border: none;
            outline: none;
            font-size: 20px;
        }
    }
    .nav-icons{
        cursor: pointer;
        ul{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        font-size: 25px;
        .bord{
            padding: 5px;
            border: 1px solid #fff;
            border-radius: 7px;
            transition: 0.3s;
            &:hover{
                border: 1px solid #6A7282;
                color: #4f5052;
            }
        }
        li{
            color: #6A7282;
            transition: 0.3s;
            &:hover{
                color: #4f5052;
            }
        }
    }
    }
}
.hhr{
        color: #969697;
        margin-top: 20px;
    }
@media (max-width: 429px) {
    *{
        padding: 0 2px;
    }
    .navbar{
        .nav-input{
            display: none;
        }
    }
}