*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.container1{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.container2{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}